body{
    /* min-width: 500px; */
}
.card-style {
    background-color: darksalmon;
    margin: 5px;
    padding: 30px;
    height: 200px;
    border-radius: 10px

}
.card-style:hover{
    background-color: tomato;
}

.input-card {
    background-color: khaki;
    border-radius: 10px
}

.gray-button {
    background-color: gray;
    border-radius: 5px;
    padding: 3px;
    width: 80px;
    text-align: center;
    float: right
}

.red-button {
    background-color: red;
    border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    width: 80px;
    text-align: center;
    float: right
}
.save-button{
    background-color:darkgreen;
    color:white;
    border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    width: 5080pxx;
    text-align: center;
    float: right
}
.star{
    right: 10px;
    top:0;
    color:red;
    font-size: 40px
}